@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
h2,
h4,
ul,
li,
button {
  margin: inherit;
  font: inherit;
  padding: 0;
  font-weight: inherit;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}
body {
  /* height: 100vh; */
  display: flex;
  font-family: "Pretendard-Regular";
  height: 100vh;
  background-color: beige;
}
button {
  border: inherit;
  background-color: inherit;
}
.wrapper {
  width: 800px;
  margin: auto;
}
.header {
  height: 100px;
  display: flex;
  padding: 50px 10px 10px;
  justify-content: space-between;
  font-size: 40px;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
}
.title {
  color: #77b2cb;
}
.nav-links {
  display: flex;
  gap: 30px;
  font-weight: bold;
}
.container {
  margin-top: 80px;
  background-color: black;
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.main-text {
  color: white;
}
.color {
  color: #77b2cb;
}
.btn {
  display: block;
  margin: auto;
  width: 200px;
  height: 100px;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 40px;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 3px;
}
